(
    axes: {
        "horizontal": Emulated(pos: Key(Right), neg: Key(Left)),
        "vertical": Emulated(pos: Key(Up), neg: Key(Down)),
        "zoom": Emulated(pos: Key(S), neg: Key(W)),
    },
    actions: {
    },
)
